# create RSA certs - Server

RANDFILE = ssl.rnd

[ req ]
default_bits = 1024
encrypt_key = yes
distinguished_name = req_dn
x509_extensions = cert_type

[ req_dn ]
countryName = Nombre pais
countryName_default             = ES
countryName_min                 = 2
countryName_max                 = 2

stateOrProvinceName             = Estado/Provincia
stateOrProvinceName_default     = Barcelona

localityName                    = Nombre ciudad

0.organizationName              = Nombre organizacion
0.organizationName_default      = Redyc

organizationalUnitName          = Departamento
organizationalUnitName_default  = IRCd  

0.commonName                    = Dominio completo de tu servidor
1.commonName_value              = localhost

[ cert_type ]
nsCertType = server

